body{
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}
.container{
    margin-left: 35%;
    margin-top: 15%;
    text-align: center;
    margin-right: 40%;
    width: 400px;
    height: 150px;
    border: 2px solid white;
    border-radius: 5px;

}
h1{
    color: aliceblue;
    padding: 10px;
}
input{
    text-decoration: none;
    height: 23px;
}
button{
     background-color: red;
     color: white;
     height: 33px;
     width: 100px;
     border-radius: 5px;
}
button:hover{
    background-color: green;
}
    